/*--==========================
    card equipe
  ============================*/
/*tamanho do card*/
.card-team {
  width: 235px;
  height: 165px;
  background: #f5f5f5;
  padding: 2rem 5px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

/*lado do card*/
.cards-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

/*informações*/
.card-info-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-title {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  line-height: 1rem;
  text-align: center;
}

.card-subtitle {
  color: #5f6264;
  font-size: 0.8em;
}

.card-team:hover {
  box-shadow: 0 8px 50px rgba(35, 35, 35, 0.2);
}

.card-team:hover .card-info-team {
  transform: translateY(-10%);
}



.back .overlay {
  content: "";
  position: absolute;
  inset: 0;
}

/* Seção de clientes */
.intro-info-client {
  width: 50%;
  float: left;
}

/* Seção inicial */
#intro-client {
  width: 100%;
  background: url("../img/predios.jpeg") center bottom no-repeat;
  background-size: cover;
  padding: 150px 10px 150px 120px;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 90px;
  opacity: 90%;
}

h2 {
  color: #f39c12;
  font-size: 48px;
  font-weight: 900;
}

h2 span {
  color: #f39c12;
  text-decoration: underline;
}

.title-city {
  color: #000000 !important;
  font-size: 15px !important;
  font-weight: 900 !important;
  line-height: 0,5rem !important;
  text-align: center !important;
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
  .card-team {
    width: 100%;
    max-width: 300px;
  }

  #intro-client {
    padding: 100px 10px;
  }

  h2 {
    font-size: 36px;
  }
}
