
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
  padding-top: 9px;
}

a {
  color: #ffffff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button (botão de voltar ao topo) */

.back-to-top {
  position: fixed;
  display: none;
  background: #005352;
  color: #ffffff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition:background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #ffffff;
}
.back-to-top:hover{
  background: #003837;
}

/* Prelaoder (Pré-carregador) */

/* From Uiverse.io by BlackisPlay */ 
.cls-1 {
  fill: #f15a24;
  animation: cls1 4s ease infinite both;
}

@keyframes cls1 {
  0% {
    fill: #f15a24;
  }

  34% {
    fill: #ed1c24;
  }

  66% {
    fill: #f7931e;
  }

  100% {
    fill: #f15a24;
  }
}

.cls-1,
.cls-2,
.cls-3 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #f7931e;
  animation: cls2 4s ease infinite both;
}

@keyframes cls2 {
  0% {
    fill: #f7931e;
  }

  34% {
    fill: #f15a24;
  }

  66% {
    fill: #ed1c24;
  }

  100% {
    fill: #f7931e;
  }
}

.cls-3 {
  fill: #ed1c24;
  animation: cls3 4s ease infinite both;
}

@keyframes cls3 {
  0% {
    fill: #ed1c24;
  }

  34% {
    fill: #f7931e;
  }

  66% {
    fill: #f15a24;
  }

  100% {
    fill: #ed1c24;
  }
}

.cls-4 {
  display: none;
}

#triangle {
  height: 400px;
  width: 400px;
  padding-top: 30px;
  animation: triangle 4s both infinite;
}

@keyframes triangle {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*--------------------------------------------------------------
# barra de navegação
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.9s;
  z-index: 997;
  padding: 20px 0;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgb(117, 117, 117);
}

.spacer-header {
  height: 100px; 
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #000000;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 2px 0;
  max-height: 40px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro(
--------------------------------------------------------------*/

#intro {
  width: 100%;
  position: relative;
  background: url("../img/fundo-header.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
}

#intro .intro-img {
  width: 50%;
  float: right;
}

#intro .intro-info {
  width: 50%;
  float: left;
}

#intro .intro-info h2 {
  color: #005352;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info h2 span {
  color: #005352;
  text-decoration: underline;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #ffffff;
}

#intro .intro-info .btn-get-started {
  background: #005352;
  border: 2px solid #005352;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#intro .intro-info .btn-services {
  border: 2px solid #fff;
}

#intro .intro-info .btn-services {
  background: #005352;
  border-color: #005352;
  color: #fff;
}

#intro .intro-info .btn-services:hover {
  background: none;
  border-color: #ffffff;
  color: #fff;
}

#team {
  padding-top: 100px; /* ajusta pra descer o título */
}


/*--------------------------------------------------------------
# Navigation Menu (menu de navegação)
--------------------------------------------------------------*/

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #000000;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* Mobile Navigation (mexer pelo celular) */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #FF7A00;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #FF7A00;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/*--------------------------------------------------------------
# sobre nós
--------------------------------------------------------------*/

/* Sections Header (Cabeçalho das seções)
--------------------------------*/

.section-header h3 {
  font-size: 36px;
  color: #FF7A00;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 25px;
  padding-bottom: 60px;
  color: #000000;
  width: 50%;
}

/* Section with background (Seção com fundo)
--------------------------------*/

.section-bg {
  background: #ffffff;
}

/* About Us Section (Seção Sobre nós)
--------------------------------*/

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #ff9500;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #FF9600;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #FF9600;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/* Sistemas
--------------------------------*/

#why-us .col-lg-4 {
  flex: 1 1 300px; 
  max-width: 400px; 
  margin-bottom: 20px; 
}

#why-us {
  padding: 60px 0;
  background: #FD7A02;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #000000;
}

#why-us .card {
  background: #ffffff;
  border-color: #FD7A02;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #000000;
  transition: 0.3s ease-in-out;
  height: 100%;
  
}

#why-us .card {
  flex: 1 1 700px; 
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#why-us .card:hover {
  color: #ffffff;
}

#why-us .card:hover {
  background: #000000;
  border-color: #005752;
}



#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #000000;
}

#why-us .card:hover i {
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #000000;
}
#why-us .card:hover p {
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

#why-us .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1px;
}

#why-us .counters {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;

}

#why-us .counters > div {
  flex: 1 1 22%; 
  max-width: 22%; 
  text-align: center;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #000000;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000000;
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
  #why-us .counters > div {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

/*celulares menores que 480px */
@media (max-width: 480px) {
  #why-us .counters > div {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
}

/* clientes
--------------------------------*/

#clients {
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  padding: 60px 0;
  overflow: hidden;
}

#clients .client-logo {
  height: 150px; 
  padding: 10px; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center; 
  margin: 20px;
}

#clients .client-logo img {
  max-height: 125px;
  width: auto;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom center;
}

#clients .client-logo p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.5s ease-in-out;
}

#clients .client-logo:hover img,
#clients .client-logo:hover p {
  transform: scale(1.3);
}



/* contate-nos
--------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}
 
#contact .section-header {
  padding-bottom: 30px;
}
 
#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}
 
#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}
 
#contact .social-links {
  padding-bottom: 20px;
}
 
#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}
 
 
#contact .info {
  color: #000000;
  display: flex;
  font-size: 100px;
}
 
#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
}
 
#contact .info p {
  padding: 10px 10px 50px 7px;
  line-height: 28px;
  font-size: 20px;
}
 
/*--------------------------------------------------------------
# rodapé
--------------------------------------------------------------*/

#footer {
  background: #FD7A02;
  padding: 0px 0px 30px 0px;
  color: #eee;
  font-size: 16px;
}

#footer .footer-top {
  background: #FD7A02;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #005352;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #003f3e;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}


#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}


/*--------------------------------------------------------------
# Responsive Media Queries (Consultas de mídia responsivas)
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}

/* Scrollbar grossa e personalizada para navegadores WebKit (Chrome, Edge, Opera) */
::-webkit-scrollbar {
  width: 15px;             /* LARGURA da barra vertical */
  height: 2px;            /* ALTURA da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #ffffff;     /* Fundo da "trilha" */
}

::-webkit-scrollbar-thumb {
  background-color: #F7B733;  /* Cor do "ponteiro" da barra */
  border-radius: 50px;         /* Bordas arredondadas */
  border: 3px solid #f1f1f1;  /* Borda interna da barra para dar efeito de espaço */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e59e00;  /* Cor ao passar o mouse */
}

